In [100]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
pd.set_option('display.max_columns', None)

In [101]:
train = pd.read_csv('./Data/train_cleaned.csv')
test = pd.read_csv('./Data/test_cleaned.csv')
target = pd.read_csv('./Data/training_set_labels.csv')
train = train.merge(target, on="id")
target = train.pop("status_group")

train['train'] = 1
test['train'] = 0

train.drop('Unnamed: 0',inplace=True,axis=1)
test.drop('Unnamed: 0',inplace=True,axis=1)

data = pd.concat([train,test])
data.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,scheme_management,scheme_name,permit,construction_year,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,operation_years,train
0,21669,777.777778,Others,1715.0,DWE,31.366025,-7.972010,Lake Tanganyika,Katapulo,Rukwa,15,3,Nkasi,Sintali,1.0,False,VWC,K,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,37,1
1,60108,1352.941176,Others,1906.0,DWE,31.431333,-7.850336,Lake Tanganyika,No 1,Rukwa,15,3,Nkasi,Kipande,1.0,False,VWC,K,True,1976.0,gravity,vwc,never pay,soft,enough,river,communal standpipe,35,1
2,44820,777.777778,Others,1741.0,DWE,31.368317,-7.971081,Lake Tanganyika,Muungano,Rukwa,15,3,Nkasi,Sintali,1.0,False,VWC,K,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,37,1
3,53307,777.777778,Others,1730.0,DWE,31.368730,-7.972788,Lake Tanganyika,Muungano,Rukwa,15,3,Nkasi,Sintali,1.0,False,VWC,K,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,37,1
4,5701,777.777778,Others,1731.0,DWE,31.365461,-7.970985,Lake Tanganyika,Ilyema,Rukwa,15,3,Nkasi,Sintali,1.0,False,VWC,K,True,1974.0,ksb,vwc,annually,soft,enough,spring,communal standpipe,37,1

In [102]:
data.drop(['subvillage','region_code','lga','ward','district_code','scheme_name','amount_tsh'],axis=1,inplace=True)
data.head()

,id,funder,gps_height,installer,longitude,latitude,basin,region,population,public_meeting,scheme_management,permit,construction_year,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,operation_years,train
0,21669,Others,1715.0,DWE,31.366025,-7.972010,Lake Tanganyika,Rukwa,1.0,False,VWC,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,37,1
1,60108,Others,1906.0,DWE,31.431333,-7.850336,Lake Tanganyika,Rukwa,1.0,False,VWC,True,1976.0,gravity,vwc,never pay,soft,enough,river,communal standpipe,35,1
2,44820,Others,1741.0,DWE,31.368317,-7.971081,Lake Tanganyika,Rukwa,1.0,False,VWC,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,37,1
3,53307,Others,1730.0,DWE,31.368730,-7.972788,Lake Tanganyika,Rukwa,1.0,False,VWC,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,37,1
4,5701,Others,1731.0,DWE,31.365461,-7.970985,Lake Tanganyika,Rukwa,1.0,False,VWC,True,1974.0,ksb,vwc,annually,soft,enough,spring,communal standpipe,37,1

In [103]:
# scale numeric features

num_features=['latitude','longitude','operation_years', 'gps_height', 'population']
scaler = MinMaxScaler()

data[num_features] = scaler.fit_transform(data[num_features])
data.head()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,id,funder,gps_height,installer,longitude,latitude,basin,region,population,public_meeting,scheme_management,permit,construction_year,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,operation_years,train
0,21669,Others,0.629578,DWE,0.163801,0.345267,Lake Tanganyika,Rukwa,0.0,False,VWC,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,0.733333,1
1,60108,Others,0.696198,DWE,0.169883,0.356691,Lake Tanganyika,Rukwa,0.0,False,VWC,True,1976.0,gravity,vwc,never pay,soft,enough,river,communal standpipe,0.700000,1
2,44820,Others,0.638647,DWE,0.164014,0.345354,Lake Tanganyika,Rukwa,0.0,False,VWC,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,0.733333,1
3,53307,Others,0.634810,DWE,0.164053,0.345194,Lake Tanganyika,Rukwa,0.0,False,VWC,True,1974.0,ksb,vwc,never pay,soft,enough,spring,communal standpipe,0.733333,1
4,5701,Others,0.635159,DWE,0.163748,0.345363,Lake Tanganyika,Rukwa,0.0,False,VWC,True,1974.0,ksb,vwc,annually,soft,enough,spring,communal standpipe,0.733333,1

In [104]:
# factorize features for evaluations

cat_features = ['funder','installer','basin','region','public_meeting','scheme_management','permit','extraction_type','management','payment_type','water_quality','payment_type','quantity','source','waterpoint_type']

for var in cat_features:
    data[var] = pd.factorize(data[var])[0]

data.head()

,id,funder,gps_height,installer,longitude,latitude,basin,region,population,public_meeting,scheme_management,permit,construction_year,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,operation_years,train
0,21669,0,0.629578,0,0.163801,0.345267,0,0,0.0,0,0,0,1974.0,0,0,0,0,0,0,0,0.733333,1
1,60108,0,0.696198,0,0.169883,0.356691,0,0,0.0,0,0,0,1976.0,1,0,0,0,0,1,0,0.700000,1
2,44820,0,0.638647,0,0.164014,0.345354,0,0,0.0,0,0,0,1974.0,0,0,0,0,0,0,0,0.733333,1
3,53307,0,0.634810,0,0.164053,0.345194,0,0,0.0,0,0,0,1974.0,0,0,0,0,0,0,0,0.733333,1
4,5701,0,0.635159,0,0.163748,0.345363,0,0,0.0,0,0,0,1974.0,0,0,1,0,0,0,0,0.733333,1

In [105]:
# test/train split

train_df = data[data["train"] == 1]
test_df = data[data["train"] == 0]
train_df.drop(["train"], axis=1, inplace=True)
train_df.drop(['id'],axis=1, inplace=True)
test_df.drop(["train"], axis=1, inplace=True)

id_test = test_df['id']
test_df.drop(['id'],axis=1, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [106]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [107]:
forest = RandomForestClassifier(n_estimators=100, random_state = 7)

In [108]:
#score = cross_val_score(classifier, train, np.ravel(target), scoring = 'accuracy',cv=5).mean()
#print("Score: {}".format(score))
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 20 columns):
funder               59400 non-null int64
gps_height           59400 non-null float64
installer            59400 non-null int64
longitude            59400 non-null float64
latitude             59400 non-null float64
basin                59400 non-null int64
region               59400 non-null int64
population           59400 non-null float64
public_meeting       59400 non-null int64
scheme_management    59400 non-null int64
permit               59400 non-null int64
construction_year    59400 non-null float64
extraction_type      59400 non-null int64
management           59400 non-null int64
payment_type         59400 non-null int64
water_quality        59400 non-null int64
quantity             59400 non-null int64
source               59400 non-null int64
waterpoint_type      59400 non-null int64
operation_years      59400 non-null float64
dtypes: float64(6), int64(14)
memory usage: 9.5 MB

In [109]:
forest.fit(train_df,target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=7, verbose=0, warm_start=False)

In [110]:
y_pred = forest.predict(test_df)

In [111]:
y_pred = pd.DataFrame(y_pred)
y_pred['id'] = id_test
y_pred.columns = ['status_group','id']
y_pred = y_pred[['id','status_group']]

In [117]:
# convert into submission format

formatsub = pd.read_csv('./Data/submission_format.csv')
submission_format = pd.merge(formatsub, y_pred, on=['id'], how='inner')
submission_format.drop(['status_group_x'],axis=1,inplace=True)
submission_format.columns = ['id','status_group']
submission_format.head()

      id    status_group
0  50785      functional
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional

In [120]:
print ("Features sorted by their score:")
print (sorted(zip(map(lambda x: round(x, 2), forest.feature_importances_), train_df), reverse=True))

Features sorted by their score:
[(0.16, 'longitude'), (0.16, 'latitude'), (0.12, 'quantity'), (0.08, 'gps_height'), (0.05, 'population'), (0.05, 'operation_years'), (0.05, 'extraction_type'), (0.05, 'construction_year'), (0.04, 'waterpoint_type'), (0.04, 'payment_type'), (0.03, 'source'), (0.02, 'scheme_management'), (0.02, 'region'), (0.02, 'management'), (0.02, 'installer'), (0.02, 'funder'), (0.02, 'basin'), (0.01, 'water_quality'), (0.01, 'public_meeting'), (0.01, 'permit')]

In [118]:
pd.DataFrame(submission_format).to_csv("./Results/submission_randomforest.csv",index=False)